*{
    background-color: bisque;
}

#title {
    color: black;
    background-color: #093C5D;
    text-align: center;
    text-transform: uppercase;
    text-underline-offset: none;
}


.heading {
    text-decoration: transparent;
    background-color: transparent;
}

html {
   text-align: center;
}


.menu {
    display: inline-block;
    margin: 0 15px;
    color: black;
    background-color: #3B7597;
    padding: 10px 20px;
    border-radius: 5px;
}



.socials {
    display: inline-block;
    font-weight: lighter;
    margin: 0 15px;
    color: blue;
    background-color: bisque;
    
    border-radius: 2px;
}

.profile-image {
    display: inline-block;
    margin: 0 auto;
    border-radius: 25%;
    margin-top: 0px;
}

#html{
    position: static;
}

#body{
    position: relative;
}

#menu{
    position: relative;
    top: -10px;

}