html{
    background-color: #FFFCFF;
    color: #000000;
   
}

.logo-ish{
    margin: 10px;
    text-align: right;
    position: relative;
    display: inline-flex;
    flex-direction: row;
    gap: 10px;

}


.menu{
    display: flex;
    right: 50%;
    margin: 5px;
    text-align: right;


}

.menu-button{
    
}





.home-title{
    color: #790e22;
    text-transform: uppercase;
    margin: 10px;
}

.first-surname{
    font-variant-caps: all-small-caps;
    color: rgba(6, 54, 6, 0.996)
}

 .link{
    text-decoration-line: none;
 }

.menu{
    display: inline-flex;
    flex-direction: row;
    gap: 10px; 
}



@media (max-width: 500px ){
    .menu{
        display: flex;
        flex-direction: column;
        gap: 10px; 
    }

    .logo-ish{
        position: sticky;
        width: 50%;
        height: auto;
        margin: 10px;
    }
}

@media (max-width: 500px ){
    .menu{
        display: flex;
        flex-direction: column;
        gap: 10px; 
    }

}
